nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: aqua;
}

.aboularmi {
    text-decoration: none;
    color: aqua;
    margin-left: 400px;
    font-size: 20px;
    border: 1px solid black;
    font-size: 40px;
}

.aboularmi:hover {
    box-shadow: 5px 5px 5px red;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

body {
    background-color: black;
    color: aqua;
    text-align: center;
}

.hr {
    color: aqua;
}

.con {
    display: flex;
    padding: 100px;
}

.about-1 {
    margin-left: 320px;
    font-size: 75px;
    text-align: center;
    margin-right: 300px;
} 
.about-2{
    font-size: 45px;
}

.cntey {
    font-size: 25px;
    margin-left: 50px;
    text-align: center;
}
.coneyner {
    display: flex;
    justify-content: space-around;
}

.letsgo {
    font-size: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.ggbro {
    font-size: 50px;
    margin-left: 50px;
    border: 1px solid aliceblue;
    padding: 20px;
}

#htm {
    color: aqua;
}

#htm:hover {
    box-shadow: 5px 5px 5px orange;
    transition: 0.5s;
    font-size: 60px;
}

#cs {
    color: aqua;
}
#cs:hover {
    box-shadow: 5px 5px 5px blue;
    transition: 0.5s;
    font-size: 60px;
}
#js {
    color: aqua;
}
#js:hover {
    box-shadow: 5px 5px 5px yellow;
    transition: 0.5s;
    font-size: 60px;
}